
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1px 0 15px 0;
    position: sticky;
    top: 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding-right: 50px
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner img{
    width:calc(100vw - 50px);
    height: auto;
}
.heading{
    font-size: 35px;
    padding-top: 0;
}

.section {
    margin-left: 25px;
}

.courses{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    margin-bottom: 40px;
}

.courses p{
    width:auto;
    padding:4px 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 300px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-bottom a:hover {
    color: #007bff;
}

@media only screen and (max-width: 1085px) {
    .courses {
        flex-wrap: wrap; 
        justify-content: flex-start; 
    }

    .courses p {
        margin-right: 16px;
    }
}
